/* edgar darklight CSS file */
#checkboxDarkLight:checked + .container {
    background-color: #202020;
    filter: invert(100%);
}
#checkboxDarkLight{
    appearance: none;
    width: 80px;
    height: 40px;
    background: black;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
}
#checkboxDarkLight::before{
    content: '';
    width: 40px;
    height: 35px;
    background-color:white;
    border-radius: 35px;
    cursor: pointer;
    transition: .3s linear;
}

