Source: i2p-firefox-profile
Section: net
Priority: optional
Maintainer: idk <hankhill19580@gmail.com>
Build-Depends: debhelper-compat (= 11)
Standards-Version: 4.5.1
Homepage: https://i2pgit.org/i2p-hackers/i2p.firefox
Vcs-Browser: https://i2pgit.org/i2p-hackers/i2p.firefox
Vcs-Git: https://i2pgit.org/i2p-hackers/i2p.firefox.git
Rules-Requires-Root: no

Package: i2p-firefox-profile
Architecture: all
Depends: firefox,wget,i2p | i2pd,${misc:Depends}
Suggests: i2p,i2p-router,syndie,tor,tsocks
Description: Browser profile for Firefox+I2P and script to launch it
 Debian/Ubuntu port of the I2P Browser Profile for Firefox/Windows
 systems. It is built from the same source and has identical
 functionality to the Windows version, and in most ways should appear
 nearly identical to it's Windows equivalent.
