name: Nightly 22 Release

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            changelog.txt
            docs/RELEASE.md
          sparse-checkout-cone-mode: false
      - name: sleep 15 minutes
        run: |
          echo "sleeping 20 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 19 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 18 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 17 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 16 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 15 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 14 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 13 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 12 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 11 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 10 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 9 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 8 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 7 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 6 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 5 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 4 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 3 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 2 minutes to wait for artifacts"
          sleep 1m
          echo "sleeping 1 minutes to wait for artifacts"
          sleep 1m
      - name: Download artifacts
        id: download-artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          skip_unpack: true
          workflow: ant-nightly.yml
          if_no_artifact_found: fail
      # remove .zip file extension
      - run: for f in *.zip; do unzip "$f"; rm "$f"; done
      - run: echo "" | tee -a changelog.txt
      - run: echo "## Checksums" | tee -a changelog.txt
      - run: echo "" | tee -a changelog.txt
      - run: echo '```' | tee -a changelog.txt
      - run: sha256sum * | tee -a changelog.txt
      - run: echo '```' | tee -a changelog.txt
      - run: echo "" | tee -a changelog.txt
      - run: echo '```' | tee -a changelog.txt
      - run: file * | tee -a changelog.txt
      - run: echo '```' | tee -a changelog.txt
      - run: echo "" | tee -a changelog.txt
      - run: cat docs/RELEASE.md changelog.txt > RELEASE.md
      - name: Upload artifacts
        uses: ncipollo/release-action@v1
        with:
          artifacts: "*"
          prerelease: true
          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true
          tag: nightly
          bodyFile: "RELEASE.md"
